* {
  padding: 0a;
  margin: 0;
  position: relative;
}

body {
  font: 16px/1.8 Roboto Mono, monaco, sans-serif;
  text-align: center;
}
h2 {
  font-size: 1.618em;
}

button {
  font-size: 13px;
}

.content {
  padding: 2vh 1em;
}
.content-block {
  padding: 1vh 1em;
}

.colorbar {
  display: block;
  margin: 1em auto;
}
.colorbar-element {
  font-size: .85em;
  text-align: center;
  padding: 1em;
  line-height: 1;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  transition: background .3s;
  color: transparent;
}
.colorbar-element:hover {
  color: #000;
}
.colorbar-element.-editable {
  cursor: pointer;
}
.colorbar-element.-editable:hover {
  top: -1px;
}
.colorbar-element:first-child {
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  padding-left: 1.57em;
}
.colorbar-element:last-child {
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  padding-right: 1.57em;
}
